<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rent Book</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">

    <h1>Rent Book</h1>
    <div th:if="${library_users != null and not #lists.isEmpty(library_users) and books != null and not #lists.isEmpty(books)}">
    <form class="form-group" action="rent/save" th:action="@{save}" method="post">
        <input th:type="hidden" name="id" th:field="${rent.id}" />


        <div class="form-group blu-margin">
            <label for="bookDrop">Select book</label>
            <select th:field="*{rent.book}" class="form-control" id="bookDrop">
                <option value="0" text="Select book" ></option>
                <option th:each="book : ${books}"
                        th:value="${book.id}"
                        th:text="${book.toString()}">

                </option>
            </select>
        </div>

        <div class="form-group blu-margin">
            <label for="libraryUserDrop">Select library user</label>
            <select th:field="*{rent.libraryUser}" class="form-control" id="libraryUserDrop">
                <option value="0" text="Select library user" ></option>
                <option th:each="user : ${library_users}"
                        th:value="${user.id}"
                        th:text="${user.toString()}">
                </option>
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" th:href="@{/library_user/index}" class="btn btn-danger" role="button">Cancel</a>
    </form>
    </div>
    <div th:if="${books == null or #lists.isEmpty(books)}">
        <div>"No available books were found, please add some first"</div>
    </div>
    <div th:if="${library_users == null or #lists.isEmpty(library_users)}">
        <div>"No library users were found, please add some first"</div>
    </div>

</div>

<footer class="page-footer" th:replace="fragments/footer"></footer>
</body>
</html>